name: tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.21', '1.22', '1.23', '1.24' ]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: Cache Go modules
      uses: actions/cache@v4
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-${{ matrix.go-version }}-
          ${{ runner.os }}-go-
      continue-on-error: true

    - name: Download dependencies
      run: go mod download

    - name: Run go vet
      run: make vet

    - name: Run tests
      env:
        PROXY_URL: ${{ secrets.PROXY_URL }}
        BINANCE_API_KEY: ${{ secrets.BINANCE_API_KEY }}
        BINANCE_SECRET_KEY: ${{ secrets.BINANCE_SECRET_KEY }}
        OKX_API_KEY: ${{ secrets.OKX_API_KEY }}
        OKX_SECRET_KEY: ${{ secrets.OKX_SECRET_KEY }}
        OKX_PASSPHRASE: ${{ secrets.OKX_PASSPHRASE }}
        GATE_API_KEY: ${{ secrets.GATE_API_KEY }}
        GATE_SECRET_KEY: ${{ secrets.GATE_SECRET_KEY }}
        BYBIT_API_KEY: ${{ secrets.BYBIT_API_KEY }}
        BYBIT_SECRET_KEY: ${{ secrets.BYBIT_SECRET_KEY }}
      run: make test
